h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive; }

p,
a,
li {
  font-family: "Quicksand", sans-serif; }

.h-slogan {
  font-size: 18vh; }

.h-description {
  font-size: 14vh; }

.h-pageTitle {
  font-size: 6vh; }

.h-subtitle {
  font-size: 4vh; }

.h-itemTitle {
  font-size: 3vh; }

.h-slogan {
  color: #b9247dd7; }

.h-description {
  color: #b9247dd7; }

.h-pageTitle {
  color: #b9247dd7; }

.h-subtitle {
  color: #247eb9; }

.h-itemTitle {
  color: #b9247dd7; }

.h-slogan {
  font-family: "Righteous", cursive; }

.h-description {
  font-family: "Righteous", cursive; }

.h-pageTitle {
  font-family: "Righteous", cursive; }

.h-subtitle {
  font-family: "Righteous", cursive; }

.h-itemTitle {
  font-family: "Righteous", cursive; }

.h-pageTitle {
  text-shadow: 3px 3px 5px #b9247d71; }

.h-subtitle {
  text-shadow: 1px 1px 2px #247eb9; }

.h-pageTitle {
  margin: 1%; }

.h-subtitle {
  margin: 1%; }

.h-itemTitle {
  margin: 1% 0; }

.h-pageTitle {
  text-align: center; }

.h-subtitle {
  text-align: center; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: black; }

::-webkit-scrollbar-thumb {
  background: #247eb9;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background: #b9247dd7; }

/* GENERAL */
body {
  background-color: black;
  min-height: 100vh; }

a {
  color: inherit;
  text-decoration: none; }

hr {
  background-color: #247eb9;
  border-top: 1px solid #247eb9;
  border-bottom: 1px solid #247eb9;
  border-top-left-radius: 5px;
  box-shadow: 0px 0px 5px #38a9f5ee, 0px 0px 10px #6cc2fc, 0px 0px 20px #97d2fa;
  animation: hrAnim 1s ease-out; }

@keyframes hrAnim {
  0% {
    transform: scaleX(0.1); }
  100% {
    transform: scalex(1); } }

/* NAV */
header {
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 2; }
  header #navFlex {
    height: 10vh;
    width: 100%;
    /* background-image: url(../content/tex_wav.png); */
    background-color: black;
    background-size: 25%;
    background-position: center;
    background-repeat: repeat-x;
    position: fixed;
    z-index: 2; }
    header #navFlex .aBrand {
      font-family: "Righteous", cursive;
      color: #b9247dd7;
      font-size: 30px;
      transition: ease-in-out 0.2s; }
    header #navFlex .aBrand:hover {
      color: #247eb9; }
    header #navFlex ul {
      margin: 0;
      padding: 1%; }
    header #navFlex .ulMenu {
      background-color: black;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 2; }
      header #navFlex .ulMenu .menuItem {
        padding: 0 2%;
        border-right: solid 0.5px #247eb9; }
        header #navFlex .ulMenu .menuItem .aMenuItem {
          font-family: "Quicksand", sans-serif;
          color: #b9247dd7;
          font-weight: bolder;
          list-style: none;
          box-sizing: content-box;
          transition: ease-in-out 0.2s; }
        header #navFlex .ulMenu .menuItem .aMenuItem:hover {
          color: #247eb9;
          text-decoration: underline; }

.mainFlex {
  flex-flow: row wrap; }
  .mainFlex #slogan {
    width: 100%;
    height: 89vh;
    background-image: url(../content/dibujo4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start; }
    .mainFlex #slogan h1 {
      padding: 2%;
      padding-right: 0;
      box-sizing: border-box;
      letter-spacing: 1px;
      font-weight: bold; }
    .mainFlex #slogan #sloganTxt {
      animation: slogan 5s 2 forwards;
      animation-timing-function: cubic-bezier(0.3, 1.36, 0.72, -0.31); }

@keyframes slogan {
  0% {
    color: #00000000;
    text-shadow: 0 0 0 #00000000; }
  10% {
    color: #b9247dd7;
    text-shadow: 0 0 5px #b9247d71; }
  20% {
    color: #b9247dd7; }
  25% {
    text-shadow: 0 0 5px #b94289a2; }
  30% {
    color: #00000000; }
  40% {
    color: #b9247dd7; }
  50% {
    color: #00000000;
    text-shadow: 0 0 5px #cf298dd3 0 0 3px #ce3a93ce; }
  60% {
    color: #b9247dd7; }
  70% {
    color: #00000000; }
  75% {
    text-shadow: 0 0 5px #b94289a2; }
  80% {
    color: #b9247dd7; }
  90% {
    color: #00000000;
    text-shadow: 0 0 5px #b9247d71; }
  95% {
    color: #b94289a2;
    text-shadow: 0 0 5px #b9247d71; }
  100% {
    color: #b9247dd7;
    text-shadow: 0 0 0 #00000000; } }
      .mainFlex #slogan #sloganTxt .highlight {
        color: #247db991;
        text-shadow: 5px 5px 0px #b9247dd7; }
      .mainFlex #slogan #sloganTxt #spanOne::before {
        animation: wordOne 10s linear;
        content: "";
        animation-fill-mode: forwards;
        animation-delay: 0s; }

@keyframes wordOne {
  0% {
    content: "it";
    color: #00000000;
    text-shadow: 5px 5px 0px #00000000; }
  10% {
    color: #247db991;
    text-shadow: 5px 5px 0px #b9247dd7; }
  20% {
    content: "it";
    color: #247db991;
    text-shadow: 5px 5px 0px #b9247dd7; }
  30% {
    color: #00000000;
    text-shadow: 5px 5px 0px #00000000; }
  40% {
    content: "proyects";
    color: #247db991;
    text-shadow: 5px 5px 0px #b9247dd7; }
  50% {
    color: #00000000;
    text-shadow: 5px 5px 0px #00000000; }
  60% {
    content: "ideas";
    color: #247db991;
    text-shadow: 5px 5px 0px #b9247dd7; }
  70% {
    color: #00000000;
    text-shadow: 5px 5px 0px #00000000; }
  80% {
    content: "everything";
    color: #247db991;
    text-shadow: 5px 5px 0px #b9247dd7; }
  90% {
    color: #00000000;
    text-shadow: 5px 5px 0px #00000000; }
  100% {
    content: "you";
    color: #247db991;
    text-shadow: 5px 5px 0px #b9247dd7; } }
      .mainFlex #slogan #sloganTxt #spanTwo {
        animation: moveTwo 1s;
        display: inline-block;
        animation-delay: 11s; }

@keyframes moveTwo {
  5% {
    transform: rotate(5deg); }
  10% {
    transform: rotate(-5deg); }
  15% {
    transform: rotate(5deg); }
  20% {
    transform: rotate(-5deg); }
  25% {
    transform: rotate(5deg); }
  30% {
    transform: rotate(-5deg); }
  35% {
    transform: rotate(5deg); }
  40% {
    transform: rotate(-5deg); }
  45% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
  .mainFlex #description {
    background-image: linear-gradient(#247db92d, #00000000, #247db92d), linear-gradient(90deg, black 10%, #b9247d71);
    background-size: 120% 100%;
    animation: desc 10s ease infinite;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-end; }

@keyframes desc {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
    .mainFlex #description .descTxt {
      padding: 2%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      text-align: end; }
      .mainFlex #description .descTxt #desc1 {
        background-color: #b9247dd7;
        color: #247db991; }
      .mainFlex #description .descTxt #desc2 {
        color: #247db991;
        text-shadow: 5px 5px 1px #b9247dd7; }
      .mainFlex #description .descTxt #desc3 {
        background-color: #247db991;
        border-radius: 20px; }
      .mainFlex #description .descTxt #biggerDesc {
        font-size: 24vh;
        color: #247db991;
        display: inline-block; }
      .mainFlex #description .descTxt #coolerDesc {
        font-variant: small-caps;
        font-size: 18vh;
        text-shadow: -1px -1px 1px #247eb9;
        animation: coolerAnim 5s infinite; }

@keyframes coolerAnim {
  5% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d; }
  10% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9; }
  15% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9, -7px -7px 1px #b9247d; }
  20% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9, -7px -7px 1px #b9247d, -9px -9px 1px #247eb9; }
  25% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9, -7px -7px 1px #b9247d, -9px -9px 1px #247eb9, -11px -11px 1px #b9247d; }
  30% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9, -7px -7px 1px #b9247d, -9px -9px 1px #247eb9, -11px -11px 1px #b9247d, -13px -13px 1px #247eb9; }
  35% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9, -7px -7px 1px #b9247d, -9px -9px 1px #247eb9, -11px -11px 1px #b9247d, -13px -13px 1px #247eb9, -15px -15px 15px #b9247d; }
  40% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9, -7px -7px 1px #b9247d, -9px -9px 1px #247eb9, -11px -11px 1px #b9247d, -13px -13px 1px #247eb9, -15px -15px 15px #b94289a2; }
  45% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9, -7px -7px 1px #b9247d, -9px -9px 1px #247eb9, -11px -11px 1px #b9247d, -13px -13px 1px #247eb9, -15px -15px 15px #b9247d; }
  50% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9, -7px -7px 1px #b9247d, -9px -9px 1px #247eb9, -11px -11px 1px #b9247d, -13px -13px 1px #247eb9, -15px -15px 15px #b94289a2; }
  85% {
    text-shadow: -1px -1px 1px #247eb9, -3px -3px 1px #b9247d, -5px -5px 1px #247eb9, -7px -7px 1px #b9247d, -9px -9px 1px #247eb9, -11px -11px 1px #b9247d, -13px -13px 1px #247eb9, -15px -15px 15px #b94289a2; } }

/* CAROUSEL INDEX */
.carouselIndex:hover #divCarouselCaption {
  opacity: 1; }

#divCarouselCaption {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #00000098;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out; }
  #divCarouselCaption #carouselCaption {
    padding: 3%;
    display: flex;
    align-items: center;
    border: solid 10px #247eb9;
    border-radius: 20px; }

/* CONTACT INDEX */
.formContact {
  padding: 2% 10%;
  background: linear-gradient(45deg, #b94289a2, #247db991, #b94289a2, #247db991);
  background-size: 400% 100%;
  height: 100%;
  animation: gradient 15s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .formContact #fieldContact {
    background-color: #000000d5;
    border-color: #247eb9;
    border-radius: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #b9247dd7; }
    .formContact #fieldContact input:-webkit-autofill, .formContact #fieldContact #contactDiv #serviceInput select:-webkit-autofill, .formContact #fieldContact #contactDiv #descriptionInput textarea:-webkit-autofill,
    .formContact #fieldContact input:-webkit-autofill:hover,
    .formContact #fieldContact #contactDiv #serviceInput select:-webkit-autofill:hover,
    .formContact #fieldContact #contactDiv #descriptionInput textarea:-webkit-autofill:hover,
    .formContact #fieldContact input:-webkit-autofill:focus,
    .formContact #fieldContact #contactDiv #serviceInput select:-webkit-autofill:focus,
    .formContact #fieldContact #contactDiv #descriptionInput textarea:-webkit-autofill:focus,
    .formContact #fieldContact textarea:-webkit-autofill,
    .formContact #fieldContact textarea:-webkit-autofill:hover,
    .formContact #fieldContact textarea:-webkit-autofill:focus,
    .formContact #fieldContact select:-webkit-autofill,
    .formContact #fieldContact select:-webkit-autofill:hover,
    .formContact #fieldContact select:-webkit-autofill:focus {
      -webkit-text-fill-color: #b9247dd7;
      box-shadow: 0 0 0px 1000px black inset; }
    .formContact #fieldContact input:focus, .formContact #fieldContact #contactDiv #serviceInput select:focus, .formContact #fieldContact #contactDiv #descriptionInput textarea:focus,
    .formContact #fieldContact textarea:focus,
    .formContact #fieldContact select:focus {
      outline: 3px solid #b9247d71; }
    .formContact #fieldContact legend {
      padding: 5px;
      margin: 0 50px;
      font-family: "Righteous", cursive;
      font-size: 30px;
      text-align: left;
      color: #247eb9; }
    .formContact #fieldContact #contactDiv {
      display: grid;
      grid-template-areas: "fName lName" "email phone" "service service" "description description" "subscription subscription" "none send"; }
      .formContact #fieldContact #contactDiv label {
        padding: 5px 40px; }
      .formContact #fieldContact #contactDiv input, .formContact #fieldContact #contactDiv #serviceInput select, .formContact #fieldContact #contactDiv #descriptionInput textarea {
        margin: 5px 20px;
        padding: 1%;
        height: 45px;
        font-family: "Quicksand", sans-serif;
        font-size: 18px;
        color: #b9247dd7;
        font-weight: bolder;
        background-color: #00000000;
        border: solid 2px #247eb9;
        border-radius: 5px; }
      .formContact #fieldContact #contactDiv #fNameInput {
        grid-area: fName;
        display: flex;
        flex-flow: column wrap; }
      .formContact #fieldContact #contactDiv #lNameInput {
        grid-area: lName;
        display: flex;
        flex-flow: column wrap; }
      .formContact #fieldContact #contactDiv #emailInput {
        grid-area: email;
        display: flex;
        flex-flow: column wrap; }
      .formContact #fieldContact #contactDiv #phoneInput {
        grid-area: phone;
        display: flex;
        flex-flow: column wrap; }
      .formContact #fieldContact #contactDiv #serviceInput {
        margin: 2% 0 0 0;
        grid-area: service;
        display: flex;
        flex-flow: column wrap;
        align-items: center; }
        .formContact #fieldContact #contactDiv #serviceInput select {
          margin: 5px;
          padding: 0;
          height: 35px;
          width: 60%;
          font-size: 16px; }
          .formContact #fieldContact #contactDiv #serviceInput select option {
            background-color: black;
            font-weight: bolder; }
      .formContact #fieldContact #contactDiv #descriptionInput {
        grid-area: description;
        display: flex;
        flex-flow: column wrap;
        align-items: center; }
        .formContact #fieldContact #contactDiv #descriptionInput textarea {
          margin: 5px;
          width: 60%;
          height: auto; }
      .formContact #fieldContact #contactDiv #subInput {
        margin: 2% 20%;
        grid-area: subscription;
        display: flex;
        flex-flow: row-reverse wrap-reverse;
        justify-content: center;
        align-items: center;
        border: solid 2px #247eb9;
        border-radius: 5px; }
        .formContact #fieldContact #contactDiv #subInput #subCheckbox {
          margin: 0 5px;
          align-self: center; }
        .formContact #fieldContact #contactDiv #subInput #subLabel {
          padding: 0 1%;
          font-size: 16px;
          text-align: center; }
      .formContact #fieldContact #contactDiv #sendInput {
        padding: 1% 3% 3% 0;
        grid-area: send;
        display: flex;
        flex-flow: row wrap;
        justify-content: end; }
        .formContact #fieldContact #contactDiv #sendInput #sendButton {
          width: 200px;
          height: 50px;
          background-color: #247db9dc;
          border: solid 2px #b9247dd7;
          font-family: "Righteous", cursive;
          font-size: 26px;
          color: #b9247dd7;
          text-shadow: 1px 1px 1px black;
          transition: 0.3s ease-in-out; }
        .formContact #fieldContact #contactDiv #sendInput #aSendButton :hover {
          background-color: #b9247d71;
          border: solid 2px #247eb9;
          color: #247eb9; }

/* TABLET */
@media (min-width: 481px) and (max-width: 1024px) {
  /*-----INDEX-----*/
  .mainFlex #slogan {
    background-repeat: repeat-y;
    justify-content: center; }
    .mainFlex #slogan h1 {
      font-size: 13vh;
      box-sizing: border-box; }
  .mainFlex #description .h-description {
    font-size: 10vh; }
    .mainFlex #description .h-description #desc2 {
      text-shadow: 3px 3px 1px #b9247dd7; }
    .mainFlex #description .h-description #desc3 {
      border-radius: 12px; }
    .mainFlex #description .h-description #biggerDesc {
      font-size: 20vh; }
    .mainFlex #description .h-description #coolerDesc {
      font-size: 12vh;
      animation: coolerAnim 5s infinite; }
  @keyframes coolerAnim {
    5% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d; }
    10% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9; }
    15% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d; }
    20% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9; }
    25% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d; }
    30% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9; }
    35% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b9247d; }
    40% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b94289a2; }
    45% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b9247d; }
    50% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b94289a2; }
    85% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b94289a2; } }
  #divCarouselCaption {
    padding: 1% 10%; }
    #divCarouselCaption #carouselCaption {
      padding: 1%;
      font-size: 80px; }
  /*-----CONTACT-----*/
  .formContact #fieldContact {
    font-size: 16px; }
    .formContact #fieldContact legend {
      font-size: 24px; }
    .formContact #fieldContact #contactDiv {
      display: grid;
      grid-template-areas: "fName" "lName" "email" "phone" "service" "description" "subscription" "send"; }
      .formContact #fieldContact #contactDiv label {
        padding: 1% 5%; }
      .formContact #fieldContact #contactDiv input, .formContact #fieldContact #contactDiv #serviceInput select, .formContact #fieldContact #contactDiv #descriptionInput textarea {
        margin: 5px 5%;
        padding: 0 3px;
        height: 35px;
        font-size: 14px; }
      .formContact #fieldContact #contactDiv #serviceInput select {
        padding: 0 3px;
        height: 30px;
        width: 80%;
        font-size: 11px; }
      .formContact #fieldContact #contactDiv #descriptionInput textarea {
        padding: 5px;
        height: 80px;
        width: 80%;
        font-size: 14px; }
      .formContact #fieldContact #contactDiv #subInput {
        margin: 2% 10%; }
        .formContact #fieldContact #contactDiv #subInput #subLabel {
          font-size: 12px; }
      .formContact #fieldContact #contactDiv #sendInput #sendButton {
        margin: 10px;
        padding: 5px;
        width: 180px;
        height: 40px;
        font-size: 18px; } }

/* SMARTPHONE */
@media (max-width: 480px) {
  /*-----INDEX-----*/
  .mainFlex #slogan {
    justify-content: center;
    height: 90vh;
    background-repeat: repeat-y; }
    .mainFlex #slogan h1 {
      font-size: 10vh;
      box-sizing: border-box; }
    .mainFlex #slogan #sloganTxt .highlight {
      color: #247db991;
      text-shadow: 3px 3px 0px #b9247dd7; }
    .mainFlex #slogan #sloganTxt #spanOne::before {
      animation: wordOne 10s linear;
      content: "";
      animation-fill-mode: forwards;
      animation-delay: 0s; }
  @keyframes wordOne {
    0% {
      content: "it";
      color: #00000000;
      text-shadow: 3px 3px 0px #00000000; }
    10% {
      color: #247db991;
      text-shadow: 3px 3px 0px #b9247dd7; }
    20% {
      content: "it";
      color: #247db991;
      text-shadow: 3px 3px 0px #b9247dd7; }
    30% {
      color: #00000000;
      text-shadow: 3px 3px 0px #00000000; }
    40% {
      content: "proyects";
      color: #247db991;
      text-shadow: 3px 3px 0px #b9247dd7; }
    50% {
      color: #00000000;
      text-shadow: 3px 3px 0px #00000000; }
    60% {
      content: "ideas";
      color: #247db991;
      text-shadow: 3px 3px 0px #b9247dd7; }
    70% {
      color: #00000000;
      text-shadow: 3px 3px 0px #00000000; }
    80% {
      content: "everything";
      color: #247db991;
      text-shadow: 3px 3px 0px #b9247dd7; }
    90% {
      color: #00000000;
      text-shadow: 3px 3px 0px #00000000; }
    100% {
      content: "you";
      color: #247db991;
      text-shadow: 3px 3px 0px #b9247dd7; } }
  .mainFlex #description {
    height: 100vh;
    align-items: center; }
    .mainFlex #description .descTxt {
      font-size: 7vh; }
      .mainFlex #description .descTxt #desc2 {
        text-shadow: 2px 2px 2px #b9247dd7; }
      .mainFlex #description .descTxt #desc3 {
        border-radius: 5px; }
      .mainFlex #description .descTxt #biggerDesc {
        font-size: 13vh; }
      .mainFlex #description .descTxt #coolerDesc {
        font-size: 8vh;
        animation: coolerAnim 5s infinite; }
  @keyframes coolerAnim {
    5% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d; }
    10% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9; }
    15% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d; }
    20% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9; }
    25% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d; }
    30% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9; }
    35% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b9247d; }
    40% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b94289a2; }
    45% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b9247d; }
    50% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b94289a2; }
    85% {
      text-shadow: -1px -1px 1px #247eb9, -2px -2px 1px #b9247d, -3px -3px 1px #247eb9, -4px -4px 1px #b9247d, -5px -5px 1px #247eb9, -6px -6px 1px #b9247d, -7px -7px 1px #247eb9, -8px -8px 8px #b94289a2; } }
  #divCarouselCaption {
    padding: 1% 10%; }
    #divCarouselCaption #carouselCaption {
      padding: 1%;
      font-size: 40px; }
  /*-----CONTACT-----*/
  .formContact {
    padding: 3%; }
    .formContact #fieldContact {
      font-size: 16px; }
      .formContact #fieldContact legend {
        margin: 0 15px;
        font-size: 24px; }
      .formContact #fieldContact #contactDiv {
        display: grid;
        grid-template-areas: "fName" "lName" "email" "phone" "service" "description" "subscription" "send"; }
        .formContact #fieldContact #contactDiv label {
          padding: 3px 15px;
          text-align: center; }
        .formContact #fieldContact #contactDiv input, .formContact #fieldContact #contactDiv #serviceInput select, .formContact #fieldContact #contactDiv #descriptionInput textarea {
          margin: 8px;
          padding: 5px;
          height: 30px;
          width: 80%;
          font-size: 14px;
          align-self: center; }
        .formContact #fieldContact #contactDiv #serviceInput select {
          padding: 0 5px;
          width: 80%;
          height: 30px;
          font-size: 14px; }
        .formContact #fieldContact #contactDiv #descriptionInput textarea {
          margin: 8px;
          height: 80px;
          width: 80%;
          font-size: 14px; }
        .formContact #fieldContact #contactDiv #subInput {
          margin: 8px 10%; }
          .formContact #fieldContact #contactDiv #subInput #subLabel {
            padding: 0 10px;
            font-size: 12px;
            text-align: center; }
          .formContact #fieldContact #contactDiv #subInput #subCheckbox {
            width: 12px; }
        .formContact #fieldContact #contactDiv #sendInput {
          justify-content: center; }
          .formContact #fieldContact #contactDiv #sendInput #sendButton {
            margin: 10px;
            padding: 5px;
            height: 50px;
            width: 150px;
            font-size: 22px; } }

.proyects {
  margin: 2%;
  width: 96%;
  min-height: 90vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  .proyects .proyectOne {
    animation: proy1Anim 0.75s ease-out; }

@keyframes proy1Anim {
  0% {
    transform: translate(-100vw); } }
  .proyects .proyectTwo {
    animation: proy2Anim 0.5s ease-out; }

@keyframes proy2Anim {
  0% {
    transform: translate(-100vw); } }
  .proyects .proyectThree {
    animation: proy3Anim 0.25s ease-out; }

@keyframes proy3Anim {
  0% {
    transform: translate(-100vw); } }
  .proyects .card {
    margin: 2%;
    padding: 2%;
    border: none;
    background-image: linear-gradient(144deg, #b9247dd7, #247eb9, black 40%); }
    .proyects .card a:hover {
      transition: 0.2s ease-in-out;
      transform: scale(1.02, 1.02); }
    .proyects .card #itemTitleSpan {
      color: #247eb9; }

/*-----TABLET-----*/
@media (min-width: 481px) and (max-width: 1024px) {
  .proyects #mainProyect {
    width: 100%; }
  .proyects #secondaryProyect {
    width: 100%; }
  .proyects .proyectOne {
    width: 50%; }
  .proyects .proyectTwo {
    width: 50%; }
  .proyects .proyectThree {
    width: 50%; }
  .proyects .card {
    margin: 1%; }
    .proyects .card .card-body {
      padding: 1%; }
      .proyects .card .card-body h5 {
        font-size: 30px; } }

/*-----SMARTPHONE-----*/
@media (max-width: 480px) {
  h3 {
    font-size: 30px;
    margin: 5%; }
  .proyects .proyectOne {
    width: 100%; }
  .proyects .proyectTwo {
    width: 50%; }
  .proyects .proyectThree {
    width: 50%; }
  .proyects .card {
    margin: 1%; }
    .proyects .card .card-body {
      padding: 1%; } }

.gear {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .gear #column1 {
    animation: column1 0.5s;
    animation-timing-function: cubic-bezier(0, 0.16, 0.57, 1.4); }

@keyframes column1 {
  0% {
    transform: translateY(-300vh); } }
  .gear #column2 {
    animation: column2 .75s;
    animation-timing-function: cubic-bezier(0, 0.16, 0.57, 1.4); }

@keyframes column2 {
  0% {
    transform: translateY(-300vh); } }
  .gear #column3 {
    animation: column3 1s;
    animation-timing-function: cubic-bezier(0, 0.16, 0.57, 1.4); }

@keyframes column3 {
  0% {
    transform: translateY(-300vh); } }
  .gear .gearColumn {
    width: 30%;
    display: flex;
    flex-flow: column wrap; }
    .gear .gearColumn .gearDiv {
      margin: 5px;
      padding: 5px;
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      animation: gearAnim 1s; }

@keyframes gearAnim {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
      .gear .gearColumn .gearDiv .accordion-item {
        background-color: #00000000; }
        .gear .gearColumn .gearDiv .accordion-item .accordion-button {
          margin: 0;
          background-color: #00000000; }
          .gear .gearColumn .gearDiv .accordion-item .accordion-button .gearImg {
            height: auto;
            width: 95%; }
        .gear .gearColumn .gearDiv .accordion-item .accordion-button:hover {
          transition: 0.2s ease;
          z-index: 1;
          transform: scale(1.05, 1.05); }
        .gear .gearColumn .gearDiv .accordion-item .accordion-button:not(.collapsed) h5 {
          color: #247eb9; }
        .gear .gearColumn .gearDiv .accordion-item .accordion-body {
          margin: 0;
          width: 95%;
          text-align: center;
          font-family: "Quicksand", sans-serif;
          color: #247eb9;
          font-weight: bold;
          border: solid 3px #b9247d71;
          border-radius: 10px; }
          .gear .gearColumn .gearDiv .accordion-item .accordion-body strong {
            color: #b9247dd7; }

/*-----TABLET-----*/
@media (min-width: 481px) and (max-width: 1024px) {
  .accordion-body {
    font-size: 14px; } }

/* SMARTPHONE */
@media (max-width: 480px) {
  h3 {
    font-size: 30px !important;
    margin: 5%; }
  h4 {
    font-size: 20px !important; }
  .gear {
    flex-flow: column; }
    .gear .gearColumn {
      width: 100%; }
      .gear .gearColumn .gearDiv {
        margin: 0; }
        .gear .gearColumn .gearDiv .accordion-item .accordion-button .gearImg {
          width: 80%; }
        .gear .gearColumn .gearDiv .accordion-item .accordion-body {
          font-size: 14px; } }

/* DESKTOP */
.team {
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .team h4 {
    width: 90%; }
  .team .accordion {
    margin: 1%;
    width: 90%;
    animation: teamAnim 1 1s ease; }

@keyframes teamAnim {
  0% {
    transform: scale(0.5); } }
    .team .accordion .accordion-item {
      margin: 1% 0 2% 0;
      align-self: center;
      background-color: black;
      border: solid 2px #247eb9;
      border-radius: 20px; }
      .team .accordion .accordion-item .accordion-button {
        margin: 0;
        background-color: #00000000; }
        .team .accordion .accordion-item .accordion-button .teamImg {
          margin: 2% 1%;
          width: 55%;
          height: auto;
          border-radius: 15px; }
      .team .accordion .accordion-item .accordion-button:not(.collapsed) h5 {
        text-decoration: underline #247eb9; }
      .team .accordion .accordion-item .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b9247dd7'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
      .team .accordion .accordion-item .accordion-button::after {
        width: 2.25rem;
        height: 2.25rem;
        margin: 1%;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23247eb9'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-size: 2.25rem; }
      .team .accordion .accordion-item .accordion-body {
        margin: 0;
        padding-top: 0;
        text-align: center;
        font-family: "Quicksand", sans-serif;
        color: #247eb9;
        font-weight: bolder; }

/* TABLET */
@media (min-width: 481px) and (max-width: 1024px) {
  .team .accordion .accordion-item .accordion-button .teamImg {
    width: 65%;
    height: auto; }
  .team .accordion .accordion-item .accordion-body {
    font-size: 16px; } }

/* SMARTPHONE */
@media (max-width: 480px) {
  .team .accordion .accordion-item .accordion-button .teamImg {
    width: 75%;
    height: auto; }
  .team .accordion .accordion-item .accordion-body {
    font-size: 12px; } }

.formContactPage {
  padding: 2%; }
  .formContactPage #fieldContact {
    background-color: #000000d5;
    border-color: #247eb9;
    border-radius: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #b9247dd7; }
    .formContactPage #fieldContact input:-webkit-autofill, .formContactPage #fieldContact #contactDiv #serviceInput select:-webkit-autofill, .formContactPage #fieldContact #contactDiv #descriptionInput textarea:-webkit-autofill,
    .formContactPage #fieldContact input:-webkit-autofill:hover,
    .formContactPage #fieldContact #contactDiv #serviceInput select:-webkit-autofill:hover,
    .formContactPage #fieldContact #contactDiv #descriptionInput textarea:-webkit-autofill:hover,
    .formContactPage #fieldContact input:-webkit-autofill:focus,
    .formContactPage #fieldContact #contactDiv #serviceInput select:-webkit-autofill:focus,
    .formContactPage #fieldContact #contactDiv #descriptionInput textarea:-webkit-autofill:focus,
    .formContactPage #fieldContact textarea:-webkit-autofill,
    .formContactPage #fieldContact textarea:-webkit-autofill:hover,
    .formContactPage #fieldContact textarea:-webkit-autofill:focus,
    .formContactPage #fieldContact select:-webkit-autofill,
    .formContactPage #fieldContact select:-webkit-autofill:hover,
    .formContactPage #fieldContact select:-webkit-autofill:focus {
      -webkit-text-fill-color: #b9247dd7;
      box-shadow: 0 0 0px 1000px black inset; }
    .formContactPage #fieldContact input:focus, .formContactPage #fieldContact #contactDiv #serviceInput select:focus, .formContactPage #fieldContact #contactDiv #descriptionInput textarea:focus,
    .formContactPage #fieldContact textarea:focus,
    .formContactPage #fieldContact select:focus {
      outline: 3px solid #b9247d71; }
    .formContactPage #fieldContact legend {
      padding: 5px;
      margin: 0 50px;
      font-family: "Righteous", cursive;
      font-size: 30px;
      text-align: left;
      color: #247eb9; }
    .formContactPage #fieldContact #contactDiv {
      display: grid;
      grid-template-areas: "fName lName" "email phone" "service service" "description description" "subscription subscription" "none send"; }
      .formContactPage #fieldContact #contactDiv label {
        padding: 5px 40px; }
      .formContactPage #fieldContact #contactDiv input, .formContactPage #fieldContact #contactDiv #serviceInput select, .formContactPage #fieldContact #contactDiv #descriptionInput textarea {
        margin: 5px 20px;
        padding: 1%;
        height: 45px;
        font-family: "Quicksand", sans-serif;
        font-size: 18px;
        color: #b9247dd7;
        font-weight: bolder;
        background-color: #00000000;
        border: solid 2px #247eb9;
        border-radius: 5px; }
      .formContactPage #fieldContact #contactDiv #fNameInput {
        grid-area: fName;
        display: flex;
        flex-flow: column wrap; }
      .formContactPage #fieldContact #contactDiv #lNameInput {
        grid-area: lName;
        display: flex;
        flex-flow: column wrap; }
      .formContactPage #fieldContact #contactDiv #emailInput {
        grid-area: email;
        display: flex;
        flex-flow: column wrap; }
      .formContactPage #fieldContact #contactDiv #phoneInput {
        grid-area: phone;
        display: flex;
        flex-flow: column wrap; }
      .formContactPage #fieldContact #contactDiv #serviceInput {
        margin: 2% 0 0 0;
        grid-area: service;
        display: flex;
        flex-flow: column wrap;
        align-items: center; }
        .formContactPage #fieldContact #contactDiv #serviceInput select {
          margin: 5px;
          padding: 0;
          height: 35px;
          width: 60%;
          font-size: 16px; }
          .formContactPage #fieldContact #contactDiv #serviceInput select option {
            background-color: black;
            font-weight: bolder; }
      .formContactPage #fieldContact #contactDiv #descriptionInput {
        grid-area: description;
        display: flex;
        flex-flow: column wrap;
        align-items: center; }
        .formContactPage #fieldContact #contactDiv #descriptionInput textarea {
          margin: 5px;
          width: 60%;
          height: auto; }
      .formContactPage #fieldContact #contactDiv #subInput {
        margin: 2% 20%;
        grid-area: subscription;
        display: flex;
        flex-flow: row-reverse wrap-reverse;
        justify-content: center;
        align-items: center;
        border: solid 2px #247eb9;
        border-radius: 5px; }
        .formContactPage #fieldContact #contactDiv #subInput #subCheckbox {
          margin: 0 5px;
          align-self: center; }
        .formContactPage #fieldContact #contactDiv #subInput #subLabel {
          padding: 0 1%;
          font-size: 16px;
          text-align: center; }
      .formContactPage #fieldContact #contactDiv #sendInput {
        padding: 1% 3% 3% 0;
        grid-area: send;
        display: flex;
        flex-flow: row wrap;
        justify-content: end; }
        .formContactPage #fieldContact #contactDiv #sendInput #sendButton {
          width: 200px;
          height: 50px;
          background-color: #247db9dc;
          border: solid 2px #b9247dd7;
          font-family: "Righteous", cursive;
          font-size: 26px;
          color: #b9247dd7;
          text-shadow: 1px 1px 1px black;
          transition: 0.3s ease-in-out; }
        .formContactPage #fieldContact #contactDiv #sendInput #aSendButton :hover {
          background-color: #b9247d71;
          border: solid 2px #247eb9;
          color: #247eb9; }

/* TABLET */
@media (min-width: 481px) and (max-width: 1024px) {
  .formContactPage #fieldContact {
    font-size: 16px; }
    .formContactPage #fieldContact legend {
      font-size: 24px; }
    .formContactPage #fieldContact #contactDiv {
      display: grid;
      grid-template-areas: "fName" "lName" "email" "phone" "service" "description" "subscription" "send"; }
      .formContactPage #fieldContact #contactDiv label {
        padding: 1% 5%; }
      .formContactPage #fieldContact #contactDiv input, .formContactPage #fieldContact #contactDiv #serviceInput select, .formContactPage #fieldContact #contactDiv #descriptionInput textarea {
        margin: 5px 5%;
        padding: 0 3px;
        height: 35px;
        font-size: 14px; }
      .formContactPage #fieldContact #contactDiv #serviceInput select {
        padding: 0 3px;
        height: 30px;
        width: 80%;
        font-size: 11px; }
      .formContactPage #fieldContact #contactDiv #descriptionInput textarea {
        padding: 5px;
        height: 80px;
        width: 80%;
        font-size: 14px; }
      .formContactPage #fieldContact #contactDiv #subInput {
        margin: 2% 10%; }
        .formContactPage #fieldContact #contactDiv #subInput #subLabel {
          font-size: 12px; }
      .formContactPage #fieldContact #contactDiv #sendInput #sendButton {
        margin: 10px;
        padding: 5px;
        width: 180px;
        height: 40px;
        font-size: 18px; } }

/* SMARTPHONE */
@media (max-width: 480px) {
  .formContactPage #fieldContact {
    font-size: 16px; }
    .formContactPage #fieldContact legend {
      margin: 0 15px;
      font-size: 24px; }
    .formContactPage #fieldContact #contactDiv {
      display: grid;
      grid-template-areas: "fName" "lName" "email" "phone" "service" "description" "subscription" "send"; }
      .formContactPage #fieldContact #contactDiv label {
        padding: 3px 15px;
        text-align: center; }
      .formContactPage #fieldContact #contactDiv input, .formContactPage #fieldContact #contactDiv #serviceInput select, .formContactPage #fieldContact #contactDiv #descriptionInput textarea {
        margin: 8px;
        padding: 5px;
        height: 30px;
        width: 80%;
        font-size: 14px;
        align-self: center; }
      .formContactPage #fieldContact #contactDiv #serviceInput select {
        padding: 0 5px;
        width: 80%;
        height: 30px;
        font-size: 14px; }
      .formContactPage #fieldContact #contactDiv #descriptionInput textarea {
        margin: 8px;
        height: 80px;
        width: 80%;
        font-size: 14px; }
      .formContactPage #fieldContact #contactDiv #subInput {
        margin: 8px 10%; }
        .formContactPage #fieldContact #contactDiv #subInput #subLabel {
          padding: 0 10px;
          font-size: 12px;
          text-align: center; }
        .formContactPage #fieldContact #contactDiv #subInput #subCheckbox {
          width: 12px; }
      .formContactPage #fieldContact #contactDiv #sendInput {
        justify-content: center; }
        .formContactPage #fieldContact #contactDiv #sendInput #sendButton {
          margin: 10px;
          padding: 5px;
          height: 50px;
          width: 150px;
          font-size: 22px; } }

/* FOOTER */
footer {
  padding: 2% 0 2% 0;
  display: grid;
  grid-template-areas: "icons menus menus" "info info dev";
  background-color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #b9247dd7;
  text-align: center;
  line-height: 1.5; }
  footer .footerIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: solid 1px #247eb9;
    grid-area: icons; }
  footer .footerMenu {
    margin: 0 5%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    grid-area: menus; }
    footer .footerMenu ul {
      margin-bottom: 0;
      padding: 0;
      list-style-type: none;
      text-align: center; }
      footer .footerMenu ul li {
        color: #247eb9; }
    footer .footerMenu .footerFAQ {
      display: flex;
      flex-flow: column; }
    footer .footerMenu .footerAbout {
      display: flex;
      flex-flow: column; }
    footer .footerMenu .footerJoin {
      display: flex;
      flex-flow: column; }
  footer .footerInfo {
    padding-left: 5%;
    text-align: start;
    grid-area: info; }
  footer #footerLink {
    color: #247eb9; }
  footer #footerLink:hover {
    text-decoration: underline;
    text-decoration-color: #b9247dd7; }
  footer #footerLinkIcon {
    width: 40px;
    height: 40px; }
  footer #footerLinkIcon:hover {
    transition: .5s;
    color: #247eb9; }
  footer .footerDev {
    padding-right: 1%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 12px;
    letter-spacing: .5px;
    grid-area: dev; }
    footer .footerDev #devIcon {
      margin: 5%;
      width: 16px;
      height: 16px; }
    footer .footerDev #devIcon:hover {
      color: #247eb9; }

/* TABLET */
@media (min-width: 481px) and (max-width: 1024px) {
  footer {
    padding: 4% 0;
    font-size: 12px;
    font-weight: bolder; }
    footer .footerIcons {
      padding: 0 10%;
      justify-content: space-evenly; }
      footer .footerIcons #footerLinkIcon {
        width: 30px;
        height: 30px; }
    footer h6 {
      font-size: 14px; }
    footer .footerDev {
      font-size: 10px; } }

/* SMARTPHONE */
@media (max-width: 480px) {
  /*------NAV-----*/
  header #navFlex {
    height: 6vh;
    position: static; }
    header #navFlex .aBrand {
      font-size: 20px; }
    header #navFlex .menuItem {
      font-size: 12px; }
  /*------NAV-----*/
  footer {
    font-size: 8px;
    font-weight: bolder;
    grid-template-areas: "icons" "menus" "info" "dev"; }
    footer .footerIcons {
      padding: 2%;
      border-right: none; }
    footer #footerLinkIcon {
      width: 20px;
      height: 20px; }
    footer .footerMenu {
      padding: 1%;
      justify-content: space-between; }
      footer .footerMenu h6 {
        font-size: 12px; }
    footer .footerInfo {
      padding: 1% 0;
      text-align: center;
      font-size: 6px; }
    footer .footerDev {
      justify-content: center;
      align-items: center;
      font-size: 6px; }
      footer .footerDev #devIcon {
        width: 8px;
        height: 8px; } }
