//MAIN COLORS//

$black: black;
$pink: #b9247dd7;
$solidPink: #b9247d;
$blue: #247eb9;
$transparentBlue: #247db991;
$transparent: #00000000;

//SHADOWS & HIGHLIGHTS//

$veryTransparentPink: #b9247d71;
$mediumTransparentPink: #b94289a2;
$shinyPink: #cf298dd3;
$shinyPink2: #ce3a93ce;

$slightlyTransparentBlue: #247db9dc;
$shinyBlue1: #38a9f5ee;
$shinyBlue2: #6cc2fc;
$shinyBlue3: #97d2fa;

//BACKGROUNDS//

$veryTransparentBlack :#00000098;
$mediumTransparentBlack: #000000d5;
