//MAP//

$headings: (
  slogan: 18vh,
  description: 14vh,
  pageTitle: 6vh,
  subtitle: 4vh,
  itemTitle: 3vh,
  itemTitleB: 3vh,
);

@each $name-heading, $size in $headings {
  .h-#{$name-heading} {
    font-size: $size;
  }
}

$headings: (
  slogan: $pink,
  description: $pink,
  pageTitle: $pink,
  subtitle: $blue,
  itemTitle: $pink,
  itemTitleB: $blue,
);

@each $name-heading, $h-color in $headings {
  .h-#{$name-heading} {
    color: $h-color;
  }
}

$headings: (
  slogan: $mainFont,
  description: $mainFont,
  pageTitle: $mainFont,
  subtitle: $mainFont,
  itemTitle: $mainFont,
  itemTitleB: $mainFont,
);

@each $name-heading, $h-font in $headings {
  .h-#{$name-heading} {
    font-family: $h-font;
  }
}

$headings: (
  pageTitle: 3px 3px 5px $veryTransparentPink,
  subtitle: 1px 1px 2px $blue,
);

@each $name-heading, $h-shadow in $headings {
  .h-#{$name-heading} {
    text-shadow: $h-shadow;
  }
}

$headings: (
  pageTitle: 1%,
  subtitle: 1%,
  itemTitle: 1% 0,
  itemTitleB: 1% 0,
);

@each $name-heading, $h-margin in $headings {
  .h-#{$name-heading} {
    margin: $h-margin;
  }
}

$headings: (
  pageTitle: center,
  subtitle: center,
);

@each $name-heading, $h-align in $headings {
  .h-#{$name-heading} {
    text-align: $h-align;
  }
}
