@import "maps";
@import "mixins";

.faqTitle {
  width: 100%;
  position: fixed;
  background-color: $black;
}

.space {
  height: 10vh;
  background-image: linear-gradient($black, $veryTransparentPink, $black 50%);
}

.faq {
  min-height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;

  dt {
    font-size: 10vh;
  }

  .faqResponse {
    text-align: end;
    font-family: $secondaryFont;
    font-size: 7vh;
    color: $pink;
    font-weight: bolder;
  }
}

#bodyCareers {
  .careersDiv {
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    p {
      margin: 0 1%;
      text-align: center;
      font-family: $secondaryFont;
      font-size: 5vh;
      color: $blue;
      font-weight: bolder;
    }
  }
}

/* TABLET */

@media (min-width: 481px) and (max-width: 1024px) {
  .faq {
    dt {
      font-size: 7vh;
    }

    .faqResponse {
      font-size: 4vh;
    }
  }

  #bodyCareers {
    .careersDiv {
      p {
        font-size: 4vh;
      }
    }
  }
}

/* SMARTPHONE */

@media (max-width: 480px) {
  .faq {
    dt {
      font-size: 6vh;
    }

    .faqResponse {
      font-size: 4vh;
    }
  }

  #bodyCareers {
    .careersDiv {
      p {
        font-size: 2vh;
      }
    }
  }
}
