@import "colors";
@import "fonts";
@import "mixins";
@import "maps";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $black;
}

::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $pink;
}

/* GENERAL */
body {
  background-color: $black;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  background-color: $blue;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  border-top-left-radius: 5px;
  box-shadow: 0px 0px 5px #38a9f5ee, 0px 0px 10px #6cc2fc, 0px 0px 20px #97d2fa;

  animation: hrAnim 1s ease-out;

  @keyframes hrAnim {
    0% {
      transform: scaleX(0.1);
    }
    100% {
      transform: scalex(1);
    }
  }
}

/* NAV */

header {
  height: 10vh;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  z-index: 2;

  #navFlex {
    height: 10vh;
    width: 100%;

    /* background-image: url(../content/tex_wav.png); */
    background-color: $black;
    background-size: 25%;
    background-position: center;
    background-repeat: repeat-x;

    position: fixed;
    z-index: 2;

    .aBrand {
      font-family: $mainFont;
      color: $pink;
      font-size: 30px;

      transition: ease-in-out 0.2s;
    }

    .aBrand:hover {
      color: $blue;
    }

    ul {
      margin: 0;
      padding: 1%;
    }

    .ulMenu {
      background-color: $black;

      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 2;

      .menuItem {
        padding: 0 2%;

        border-right: solid 0.5px $blue;

        .aMenuItem {
          font-family: $secondaryFont;
          color: $pink;
          font-weight: bolder;
          list-style: none;
          box-sizing: content-box;

          transition: ease-in-out 0.2s;
        }

        .aMenuItem:hover {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }
}

@import "index";
@import "proyects";
@import "studio";
@import "about_us";
@import "contact";

/* FOOTER */

footer {
  padding: 2% 0 2% 0;

  display: grid;
  grid-template-areas: 
  "icons menus menus"
  "info info dev";

  background-color: $black;

  font-family: $secondaryFont;
  font-size: 14px;
  font-weight: bolder;
  color: $pink;
  text-align: center;
  line-height: 1.5;

  .footerIcons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: solid 1px $blue;
    grid-area: icons;
  }
  .footerMenu{
    margin: 0 5%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    grid-area: menus;

    ul{
      margin-bottom: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;

      li{
        color: $blue
      }
    }

    .footerFAQ{
      @include footerList;
    }

    .footerAbout{
      @include footerList;
    }

    .footerJoin{
      @include footerList;
    }
  }
  .footerInfo{
    padding-left: 5%;
    text-align: start;
    grid-area: info;
  }

  #footerLink {
    color: $blue;
  }

  #footerLink:hover {
    text-decoration: underline;
    text-decoration-color: $pink;
  }

  #footerLinkIcon{
    width: 40px;
    height: 40px;
  }

  #footerLinkIcon:hover {
    transition: .5s;
    color: $blue;
  }

  .footerDev{
    padding-right: 1%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 12px;
    letter-spacing: .5px;

    grid-area: dev;

    #devIcon{
      margin: 5%;
      width: 16px;
      height: 16px;
    }

    #devIcon:hover{
      color: $blue;
    }
  }
}

/* TABLET */

@media (min-width: 481px) and (max-width: 1024px) {

  footer {
    padding: 4% 0;
    font-size: 12px;
    font-weight: bolder;

    .footerIcons{
      padding: 0 10%;
      justify-content: space-evenly;

      #footerLinkIcon{
        width: 30px;
        height: 30px;
      }
    }

    h6{
      font-size: 14px;
    }

    .footerDev{
      font-size: 10px;
    }
  }
}

/* SMARTPHONE */

@media (max-width: 480px) {
  /*------NAV-----*/

  header #navFlex {
    height: 6vh;
    position: static;

    .aBrand {
      font-size: 20px;
    }

    .menuItem {
      font-size: 12px;
    }
  }

  /*------NAV-----*/

  footer {
    font-size: 8px;
    font-weight: bolder;

    grid-template-areas: 
    "icons"
    "menus"
    "info"
    "dev";

    .footerIcons{
      padding: 2%;
      border-right: none;
    }

    #footerLinkIcon{
      width: 20px;
      height: 20px;
    }

    .footerMenu{
      padding: 1%;

      justify-content: space-between;
  
      h6{
        font-size: 12px;
      }
    }

    .footerInfo{
      padding: 1% 0;
      text-align: center;
      font-size: 6px;
    }

    .footerDev{
      justify-content: center;
      align-items: center;
      font-size: 6px;

      #devIcon{
        width: 8px;
        height: 8px;
      }
    }
  }
}