@import "colors";
@import "fonts";
@import "mixins";
@import "maps";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $black;
}

::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $pink;
}

/* GENERAL */
body {
  background-color: $black;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  background-color: $blue;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  border-top-left-radius: 5px;
  box-shadow: 0px 0px 5px #38a9f5ee, 0px 0px 10px #6cc2fc, 0px 0px 20px #97d2fa;

  animation: hrAnim 1s ease-out;

  @keyframes hrAnim {
    0% {
      transform: scaleX(0.1);
    }
    100% {
      transform: scalex(1);
    }
  }
}

/* NAV */

header {
  height: 10vh;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  z-index: 2;

  #navFlex {
    height: 10vh;
    width: 100%;

    /* background-image: url(../content/tex_wav.png); */
    background-color: $black;
    background-size: 25%;
    background-position: center;
    background-repeat: repeat-x;

    position: fixed;
    z-index: 2;

    .aBrand {
      font-family: $mainFont;
      color: $pink;
      font-size: 30px;

      transition: ease-in-out 0.2s;
    }

    .aBrand:hover {
      color: $blue;
    }

    ul {
      margin: 0;
      padding: 1%;
    }

    .ulMenu {
      background-color: $black;

      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 2;

      .menuItem {
        padding: 0 2%;

        border-right: solid 0.5px $blue;

        .aMenuItem {
          font-family: $secondaryFont;
          color: $pink;
          font-weight: bolder;
          list-style: none;
          box-sizing: content-box;

          transition: ease-in-out 0.2s;
        }

        .aMenuItem:hover {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }
}

@import "index";
@import "proyects";
@import "studio";
@import "about_us";
@import "contact";

/* FOOTER */

footer {
  height: 6%;

  background-color: $black;

  font-family: $secondaryFont;
  font-size: 14px;
  font-weight: bolder;
  color: $pink;
  text-align: center;

  #profileLink {
    color: $blue;
  }

  #profileLink:hover {
    color: $blue;
    text-decoration: underline;
    text-decoration-color: $pink;
  }
}

/* TABLET */

@media (min-width: 481px) and (max-width: 1024px) {

  footer {
    font-size: 12px;
    font-weight: bolder;
  }
}

/* SMARTPHONE */

@media (max-width: 480px) {
  /*------NAV-----*/

  header #navFlex {
    height: 6vh;
    position: static;

    .aBrand {
      font-size: 20px;
    }

    .menuItem {
      font-size: 12px;
    }
  }

  footer {
    font-size: 10px;
    font-weight: bolder;
  }
}