*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* DESKTOP */

                        /* GENERAL */

body{
    background-color: black;
    min-height: 100vh;
}

a{
    color: inherit;
    text-decoration: none;
    padding: 0;
}

header{
    width: 100%;
}

                        /* MENU */

.header{
    height: 10vh;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    z-index: 2;
}

#navFlex{
    padding: 3px;
    height: 10vh;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    background-image: url(../content/tex_wav.png);
    background-color: black;
    background-size: 25%;
    background-position: center;
    background-repeat: repeat-x;

    position: fixed;
    z-index: 2;
}

.aBrand{
    font-family: 'Righteous', cursive;
    font-size:16px;
    color: #b9247dd7;
}

.logo{
    padding: 0 1%;
}

.logo :hover{
    opacity: 80%;
}
ul{
    margin: 0;
    padding: 1%;
    background-color: black;
}

.ulMenu{
    padding-right: 1%;
        
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
}

li{
    padding: 0;
}

.menuItem{
    padding: 0 2%;

    border-right: solid 0.5px #247eb9;
    

}

.aMenuItem{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #b9247dd7;
    font-weight: bold;
    list-style: none;
    box-sizing: content-box;
}

.menuItem :hover{
    /* border-bottom: solid 0.5px #b9247dd7; */

    color:#247eb9;

}

button{
    border: none;
}



                        /* INDEX */

.mainFlex{
    flex-flow: row wrap;
}

#slogan{
    width: 100%;
    height: 89vh;

    /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), #247db92d),
    linear-gradient(90deg, #b9247d2c, rgba(0, 0, 0, 0)); */
    background-image: url(../content/dibujo4.png);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;

    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
}

h2{
    padding: 2%;
    padding-right: 0;
    box-sizing: border-box;

    font-family: 'Righteous', cursive;
    font-size:18vh;
    color: #b9247dd7;
    letter-spacing: 1px;
    font-weight: bold;
}

#sloganTxt{
    animation: slogan 5s 2 forwards;
    animation-timing-function: cubic-bezier(.3,1.36,.72,-0.31);
}

@keyframes slogan {
    0% { text-shadow: 0 0 0 #b9247d00; }
    10% { text-shadow: 0 0 5px #b9247d71; }
    25% { text-shadow: 0 0 5px #b94289a2; }
    50% { text-shadow: 0 0 5px #cf298dd3, 0 0 3px #ce3a93ce; }
    75% { text-shadow: 0 0 5px #b94289a2; }
    90% { text-shadow: 0 0 5px #b9247d71; }
    100% { text-shadow: 0 0 0 #b9247d00; }
    0% { color: #051e3e00;}
    10% { color: #b9247dd7 ;}
	20% { color: #b9247dd7 ;}
    30% { color: #051e3e00;}
    40% { color: #b9247dd7 ;}
    50% { color: #051e3e00;}
    60% { color: #b9247dd7 ;}
    70% { color: #051e3e00;}
    80% { color: #b9247dd7 ;}
    90% { color: #051e3e00;}
    100% { color: #b9247dd7 ;}
}

.highlight{
    color: #247db991 ;
    text-shadow:  5px 5px 0px #b9247dd7;
}

#spanOne::before {
	animation: wordOne 10s linear;
    content: "";
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

@keyframes wordOne {
    0% { content: "it"; 
        color: #051e3e00;
        text-shadow:  5px 5px 0px #b9247d00; }
    10% { color: #247db991 ;
        text-shadow:  5px 5px 0px #b9247dd7; }
	20% { content: "it";
        color: #247db991 ;
        text-shadow:  5px 5px 0px #b9247dd7; }
    30% { color: #051e3e00;
        text-shadow:  5px 5px 0px #b9247d00; }
    40% { content: "proyects"; 
        color: #247db991 ;
        text-shadow:  5px 5px 0px #b9247dd7; }
    50% { color: #051e3e00;
        text-shadow:  5px 5px 0px #b9247d00; }
    60% { content: "ideas";
        color: #247db991 ;
        text-shadow:  5px 5px 0px #b9247dd7; }
    70% { color: #051e3e00;
        text-shadow:  5px 5px 0px #b9247d00; }
    80% { content: "everything";
        color: #247db991 ;
        text-shadow:  5px 5px 0px #b9247dd7; }
    90% { color: #051e3e00;
        text-shadow:  5px 5px 0px #b9247d00; }
    100% { content: "you";
        color: #247db991 ;
        text-shadow:  5px 5px 0px #b9247dd7; }
}

#spanTwo{
    animation: moveTwo 1s;
    display: inline-block;
    animation-delay: 11s;
}

@keyframes moveTwo{
    5% { transform: rotate(5deg);}
    10% { transform: rotate(-5deg);}
    15% { transform: rotate(5deg);}
    20% { transform: rotate(-5deg);}
    25% { transform: rotate(5deg);}
    30% { transform: rotate(-5deg);}
    35% { transform: rotate(5deg);}
    40% { transform: rotate(-5deg);}
    45% { transform: rotate(0deg);}
    100% { transform: rotate(0deg);}
}

hr{
    background-color: #247eb9;
    border-top: 1px solid #247eb9;
    border-bottom: 1px solid #247eb9;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 5px #38a9f5ee, 
    0px 0px 10px #6cc2fc, 
    0px 0px 20px #97d2fa;

    animation: hrAnim 1s ease-out;
}

@keyframes hrAnim{
    0% {transform:scaleX(.1)}
    100% {transform: scalex(1) ;}
}

#description{
    background-image: linear-gradient(#247db92d, rgba(0, 0, 0, 0), #247db92d),
    linear-gradient(90deg, black 10%, #b9247d70);

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.descTxt{
    padding: 2%;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    font-size: 14vh;
    color: #b9247dd7;
    text-align: end;
}

#desc1{
    background-color: #b9247dd7;

    color: #247db9d0;
}

#desc2{
    color: #247db991 ;
    text-shadow: 5px 5px 1px #b9247dd7;
}

#desc3{
    background-color: #247db991;
    border-radius: 20px;
}

#biggerDesc{
    font-size: 24vh;
    color: #247db9d0;

    display: inline-block;
}

/* #biggerDesc{
    animation: biggerAnim 5s infinite linear;
}

@keyframes biggerAnim{
    50% { transform: scale(1.05, 1.05);}
} */

#coolerDesc{
    font-variant: small-caps;
    font-size: 18vh;
    text-shadow: -1px -1px 1px #247db9;

    animation: coolerAnim 5s infinite;
}

@keyframes coolerAnim{
    5% {text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d;}
    10% {text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9;}
    15% {text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9, -7px -7px 1px #b9247d;}
    20% {text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9, -7px -7px 1px #b9247d, -9px -9px 1px #247db9;}
    25% {text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9, -7px -7px 1px #b9247d, -9px -9px 1px #247db9, -11px -11px 1px #b9247d;}
    30% { text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9, -7px -7px 1px #b9247d, -9px -9px 1px #247db9, -11px -11px 1px #b9247d, -13px -13px 1px #247db9;}
    35% { text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9, -7px -7px 1px #b9247d, -9px -9px 1px #247db9, -11px -11px 1px #b9247d, -13px -13px 1px #247db9, -15px -15px 15px #b9247d;}
    40% { text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9, -7px -7px 1px #b9247d, -9px -9px 1px #247db9, -11px -11px 1px #b9247d, -13px -13px 1px #247db9, -15px -15px 15px #b9247d8e;}
    45% { text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9, -7px -7px 1px #b9247d, -9px -9px 1px #247db9, -11px -11px 1px #b9247d, -13px -13px 1px #247db9, -15px -15px 15px #b9247d;}
    50% { text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9, -7px -7px 1px #b9247d, -9px -9px 1px #247db9, -11px -11px 1px #b9247d, -13px -13px 1px #247db9, -15px -15px 15px #b9247d8e;}
    85% { text-shadow: -1px -1px 1px #247db9, -3px -3px 1px #b9247d, -5px -5px 1px #247db9, -7px -7px 1px #b9247d, -9px -9px 1px #247db9, -11px -11px 1px #b9247d, -13px -13px 1px #247db9, -15px -15px 15px #b9247d8e;}
}

#divCarouselCaption{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    font-size: 2px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.carouselIndex:hover #divCarouselCaption{
    opacity: 1;
}

#carouselCaption{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 100px;
}


                        /* CONTACT */


.formContact{
    padding: 2%;

    background-image: url(../content/miclights.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: static;
}

#fieldContact{
    background-color: rgba(0, 0, 0, 0.80);
    border-color: #247db9;
    border-radius: 20px;

    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #b9247dd7;
}

legend{
    padding: 5px;
    margin: 0 50px;

    font-family: 'Righteous', cursive;
    font-size: 30px;
    text-align: left;
    color: #247db9;
}

#contactDiv{
    display: grid;
    grid-template-areas:
    "fName lName"
    "email phone"
    "service service"
    "description description"
    "subscription subscription"
    "none send";
}

label{
    padding: 5px 40px;
}

input{
    margin: 5px 20px;
    padding: 0 10px;
    height: 45px;

    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #247db9;

    background-color: #b9247d69;
    border: solid 2px #247db9;
    border-radius: 5px;
}

select{
    margin: 5px;
    padding: 0 10px;
    height: 35px;
    width: 60%;

    background-color: rgba(0, 0, 0, 0);
    border: solid 2px #247db9;
    border-radius: 5px;

    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #b9247dd7;
}

textarea{
    margin: 5px;
    padding: 5px;
    width: 60%;

    background-color: #b9247d69;
    border: solid 2px #247db9;
    border-radius: 5px;

    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #247db9;
}

#fNameInput{
    grid-area: fName;

    display: flex;
    flex-flow: column wrap;
}

#lNameInput{
    grid-area: lName;

    display: flex;
    flex-flow: column wrap;
}

#emailInput{
    grid-area: email;

    display: flex;
    flex-flow: column wrap;
}

#phoneInput{
    grid-area: phone;

    display: flex;
    flex-flow: column wrap;
}

#serviceInput{
    margin: 2% 0 0 0;

    grid-area: service;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#descriptionInput{
    grid-area: description;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#subInput{
    margin: 2% 20%;

    grid-area: subscription;

    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: center;
    align-items: center;

    border: solid 2px #247db9;
    border-radius: 5px;
}

#subCheckbox{
    margin: 0 5px;

    align-self: center;
}

#subLabel{
    padding: 0 1%;

    font-size: 16px;
    text-align: center;
}

#sendInput{
    grid-area: send;

    display: flex;
    flex-flow: row wrap;
    justify-content: end;
}

#sendButton{
    width: 200px;
    height: 50px;

    background-color: #247db9d0;
    border: solid 2px #b9247dd7;

    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #b9247dd7;
    text-shadow: 1px 1px 1px black;
}

#aSendButton :hover{
    background-color: #b9247d69;
    border: solid 2px #247db9d0;

    color: #247db9d0;
}

                        /* PROYECTS */

#bodyProyects{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3{
    margin: 1vh;

    font-family: 'Righteous', cursive;
    font-size: 46px;
    color: #b9247dd7;
    text-shadow: 3px 3px 5px #b9247d69;
    text-align: center;
}

.proyects{
    margin: 2%;
    width: 96%;
    min-height: 90vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.carouselProyects{
    /* padding: 0 10%; */
    background-image: linear-gradient(#247db941, black 100%, #b9247d70),
    linear-gradient(90deg, black 10%, #b9247d70);
    
}

.carouselProyects .carousel img{
    object-fit: cover;
    object-position: top;
    height: 85vh;
}

.carouselH{
    font-size: 45px;
    color: #b9247d;
}

.card{
    margin: 2%;
    padding: 2%;
    border: none;

    background-image: linear-gradient(146deg, #b9247dd7, #247db9, black 40%);
}

#sideProyectColumn{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#sideProyectContainer{
    padding: 5%;
}

#sideProyect{
    padding: 0;
}

#sideProyectImg{
    border-radius: 10px;
}

.aProyects{
    width: 30%;
}

.proyectsImg{
    padding: 3%;
    height: auto;
    width: 100%;

    border-radius: 5px;
}

#proyectOne{
    animation: proy1Anim 1.5s ease-out;
}

@keyframes proy1Anim{
    0% { transform: translate(-100vw);}
}

#proyectTwo{
    animation: proy2Anim 1s ease-out;
}

@keyframes proy2Anim{
    0% { transform: translate(-100vw);}
}

#proyectThree{
    animation: proy3Anim .5s ease-out;
}

@keyframes proy3Anim{
    0% { transform: translate(-100vw);}
}

                        /* STUDIO */

h4{
    margin: 5px;

    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: #b9247dd7;
}

.gear{
    min-height: 80vh;
}

#subTitle{
    text-align: center;
    color: #247eb9;
}

.accordion-button{
    margin: 5px;

    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: #b9247dd7;
}

p{
    margin: 10px;

    font-family: 'Quicksand', sans-serif;
    color: #247eb9;
    text-shadow: 0 0 15px black;
    font-weight: bold;
}

strong{
    color: #b9247dd7;
    text-decoration: double underline #247eb9;
}

.accordion-body{
    margin: 0;

    text-align: center;

    font-family: 'Quicksand', sans-serif;
    color: #247eb9;
    font-weight: bold;
}

.accordion-item{
    background-color: rgba(0, 0, 0, 0);
}

.accordion-button{
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}

.gear{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gearColumn{
    width: 30%;

    display: flex;
    flex-flow: column wrap;
}

#column1{
    animation: column1 .5s ;
    animation-timing-function: cubic-bezier(0,.16,.57,1.4);
}

@keyframes column1{
    0%{ transform: translateY(-300vh);}
}

#column2{
    animation: column2 1s ;
    animation-timing-function: cubic-bezier(0,.16,.57,1.4);
}

@keyframes column2{
    0%{ transform: translateY(-300vh);}
}

#column3{
    animation: column3 1.5s ;
    animation-timing-function: cubic-bezier(0,.16,.57,1.4);
}

@keyframes column3{
    0%{ transform: translateY(-300vh);}
}

.gearDiv{
    margin: 5px;
    padding: 5px;
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    animation: gearAnim 1s;
}

@keyframes gearAnim{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

.gearTitle{
    text-align: center;
}

.gearImg{
    height: auto;
    width: 95%;
}

.gearDesc{
    width: 95%;

    text-align: center;
}

.hrCol{
    margin-left: 25%;
    width: 50%;

    border-radius: 10px;
}

                        /* ABOUT US */

.team{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.teamDiv{
    margin: 2%;
    padding: 1%;
    width: 80%;

    background-color: rgba(0, 0, 0, 0.80);
    border: solid 2.5px #247db9;
    border-radius: 20px;

    display: flex;
    flex-flow: column;
    align-items: center;

    font-size: 20px;

    animation: teamAnim 1s ease-out;
}

@keyframes teamAnim{
    0% { transform: scale(.025, .025); }
    100% { transform: scale(1, 1); }
}

.teamImg{
    margin: 5px;
    height: auto;
    width: 45%;

    border-radius: 15px;
}


                        /* GENERAL */

#hrfooter{
    /* margin-right: 6%; */
    margin-bottom: 1%;

    background-color: #247eb9;
    border-top: 1px solid #247eb9;
    border-bottom: 1px solid #247eb9;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 5px #38a9f5ee, 
    0px 0px 10px #6cc2fc, 
    0px 0px 20px #97d2fa;
}

footer{
    height: 6%;

    background-color: black;

    font-family: 'Quicksand', sans-serif;
    font-size:14px;
    color: #b9247dd7;
    text-align: center;
}

#profileLink{
    color: #247eb9;
}


/* TABLET */

@media (min-width: 481px) and (max-width: 1024px){

/*------NAV-----*/

#navFlex{
    height: 70px;
}

#imgLogo{
    height: 35px;
    width: 35px;
}

.menuItem{
    font-size: 14px;
}

.menuItem :hover{
    font-size: 15px;
}

/*-----INDEX-----*/

#slogan{
    background-repeat: repeat-y;

    justify-content: center;
}

h2{
    box-sizing: border-box;

    font-size: 14vh;
}

#highlight{
    text-shadow:  
    4px 4px 0px #b9247dd7;
}

.descTxt{
    font-size: 10vh;
}

#desc2{
    text-shadow:  
    3px 3px 1px #b9247dd7;
}

#desc3{
    border-radius: 12px;
}
    
#biggerDesc{
    font-size: 20vh;
}

#coolerDesc{
    font-size: 12vh;
    text-shadow: -0.5px -0.5px 0.5px #247db9, 
    -1px -1px 0.5px #b9247d, 
    -2px -2px 0.5px #247db9, 
    -3px -3px 0.5px #b9247d, 
    -4px -4px 0.5px #247db9, 
    -5px -5px 0.5px #b9247d, 
    -6px -6px 0.5px #247db9, 
    -8px -8px 15px #b9247d;
}

#carouselCaption{
    font-size: 80px;
}

    /*-----PROYECTS-----*/

h3{
    font-size: 38px;
}

.proyects{

    flex-flow: column;
}

.aProyects{
    width: 80%;
}

#mainProyectCol{
    padding: 0;
    width: 100%;
}

#sideProyectColumn{
    flex-flow: row;
    width: 100%;
    padding: 1%;
}

#sideProyectContainer{
    width: 40%;
}


/*-----CONTACT-----*/

#fieldContact{
    font-size: 16px;
}

legend{
    font-size: 24px;
}

#contactDiv{
    display: grid;
    grid-template-areas:
    "fName"
    "lName"
    "email"
    "phone"
    "service"
    "description"
    "subscription"
    "send"
    ;
}

label{
    padding: 1% 5%;
}

input{
    margin: 5px 5%;
    padding: 0 3px;
    height: 35px;

    font-size: 14px;
}

select{
    padding: 0 3px;
    height: 30px;
    width: 80%;
}

textarea{
    padding: 5px;
    height: 80px;
    width: 80%;
    font-size: 14px;
}

#subInput{
    margin: 2% 10%;
}

#subLabel{
    font-size: 12px;
}

#sendButton{
    margin: 10px;
    padding: 5px;
    width: 180px;
    height: 40px;

    font-size: 18px;
}

select{
    height: 30px;
    font-size: 11px;
}

footer{
    font-size: 11px;
}

/*------STUDIO-----*/

h4{
    font-size: 24px;
}

.accordion-body{
    margin: 0;
}

p{
    font-size: 14px;
}

/*------ABOUT US-----*/

/*-----FOOTER-----*/

footer{
    font-size: 13px;
}

}

/* SMARTPHONE */

@media (max-width: 480px){

/*------NAV-----*/

#navFlex{
    height: 6vh;
    position: static;
}

#imgLogo{
    height: 30px;
    width: 30px;
}

.menuItem{
    font-size: 12px;
}

.menuItem :hover{
    font-size: 13px;
}

/*-----INDEX-----*/

#slogan{
    justify-content: center;
    height: 90vh;
    background-repeat: repeat-y;
}

h2{
    box-sizing: border-box;
    font-size: 12vh;
}

#highlight{
    text-shadow:  
    1px 1px 0px #b9247dd7;
}

#description{
    height: 100vh;

    align-items: center;
}

.descTxt{
    font-size: 7vh;
}

#desc2{
    text-shadow:  
    1px 1px 1px #b9247dd7;
}

#desc3{
    border-radius: 5px;
}
    
#biggerDesc{
    font-size: 11vh;
}

#coolerDesc{
    font-size: 8vh;
    text-shadow: -0.5px -0.5px 0.5px #247db9, 
    -1px -1px 0.5px #b9247d, 
    -2px -2px 0.5px #247db9, 
    -2.5px -2.5px 0.5px #b9247d, 
    -3px -3px 0.5px #247db9, 
    -4px -4px 15px #b9247d;
}

#carouselCaption{
    font-size: 35px;
}


/*-----CONTACT-----*/

#fieldContact{
    font-size: 16px;
}

legend{
    margin: 0 15px;
    font-size: 24px;
}

#contactDiv{
    display: grid;
    grid-template-areas:
    "fName"
    "lName"
    "email"
    "phone"
    "service"
    "description"
    "subscription"
    "send"
    ;
}

label{
    padding: 3px 15px;
    text-align: center;
}

input{
    margin: 8px;
    padding: 5px;
    height: 30px;
    width: 80%;

    font-size: 14px;

    align-self: center;
}

select{
    padding: 0 5px;
    width: 80%;
    height: 30px;
    font-size: 14px;
}

textarea{
    margin: 8px;
    height: 80px;
    width: 80%;

    font-size: 14px;
}

#subInput{
    margin: 8px 10%;
}

#subLabel{
    padding: 0 10px;

    font-size: 12px;
    text-align: center;
}

#subCheckbox{
    width: 12px;
}

#sendInput{
    justify-content: center;
}

#sendButton{
    height: 40px;
    width: 150px;

    font-size: 22px;
}

/*-----PROYECTS-----*/

h3{
    font-size: 38px;
}

.proyects{
    height: auto;

    flex-flow: column;
}

.card-body{
    padding: 3%;
}

.aProyects{
    width: 90%;
}

#mainProyectCol{
    padding: 0;
    width: 100%;
}

#sideProyectColumn{
    width: 100%;
    padding: 1%;
}

#sideProyectContainer{
    padding: 2%;
    width: 80%;
}

/*------STUDIO-----*/

h4{
    font-size: 24px;
}

.gear{
    flex-flow: column;
}

.gearDiv{
    margin: 0;
}

.gearColumn{
    width: 100%;
}

.gearImg{
    width: 80%;
}

p{
    font-size: 12px;
}

/*------ABOUT US-----*/

/*-----FOOTER-----*/

footer{
    font-size: 11px;
    
}

}